@font-face {
  font-family: "SFProDisplay-Regular";
  src: local("SFProDisplay-Regular"),
    url("../fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "SFProDisplay-Semibold";
  src: local("SFProDisplay-Semibold"),
    url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "SFProDisplay-Regular", sans-serif;
  background-color: #e5e5e5;
}

.header {
  margin-bottom: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fa8c16;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.header-wrapper {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  margin-left: 60px;
  margin-right: auto;
}

.header-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu-link {
  margin-right: 15px;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  color: #fafafa;
}

.input-group {
  max-width: 237px;
  width: 60%;
  height: 32px;
  position: relative;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.search-input {
  width: 80%;
  height: 100%;
  padding-left: 12px;
  font-size: 14px;
  line-height: 22px;
  border: none;
}

.search-button {
  width: 20%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.search-input::-moz-placeholder {
  color: #bfbfbf;
}
.search-input::-webkit-input-placeholder {
  color: #bfbfbf;
}
.search-input:-ms-input-placeholder {
  color: #bfbfbf;
}
.search-input::-ms-input-placeholder {
  color: #bfbfbf;
}
.search-input::placeholder {
  color: #bfbfbf;
}

.menu-toggle {
  display: none;
}

.content {
  max-width: 1200px;
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: auto;
}

.posts {
  /* max-width: 800px; */
  width: 67%;
}

.post {
  margin-bottom: 30px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
}

.post-body {
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 0;
}

.post-title {
  font-family: "SFProDisplay-Semibold", sans-serif;
  margin-top: 0;
  margin-bottom: 19px;
  font-size: 16px;
  line-height: 24px;
}

.post-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}

.tags {
  margin-bottom: 22px;
}

.tag {
  margin-right: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  color: #bfbfbf;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-top: 1px solid #e8e8e8;
  background: #fafafa;
}

.post-buttons {
  display: flex;
  align-items: center;
}

.post-btn .icon {
  fill: #8c8c8c;
}

.icon-like,
.icon-comment {
  margin-right: 6px;
}

.post-btn {
  display: flex;
  align-items: center;
  margin-right: 19px;
  font-size: 14px;
  line-height: 22px;
  background-color: transparent;
  border: none;
  color: #8c8c8c;
  cursor: pointer;
}

.post-author {
  display: flex;
  align-items: center;
  text-align: right;
}

.author-avatar {
  width: 34px;
  height: 34px;
  margin-left: 9px;
  border-radius: 4px;
}

.author-username {
  display: block;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: #8c8c8c;
}

.post-time {
  font-size: 12px;
  line-height: 20px;
  color: #bfbfbf;
}

.sidebar {
  width: 31%;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  border: 1px solid #e8e8e8;
  background-color: #fafafa;
}

.user-info {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.user-avatar {
  margin-right: 17px;
  border-radius: 50%;
}

.user-name {
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}

.icon-exit {
  width: 20px;
  height: 20px;
}

.sidebar-nav {
  background-color: #fff;
}

.sidebar-menu {
  margin: 0;
  padding: 0;
  border: 1px solid #e8e8e8;
  border-top: none;
  list-style-type: none;
}

.sidebar-menu-link {
  display: inline-block;
  width: 100%;
  padding: 16px 48px;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  background-color: #fff;
  color: #595959;
}

.sidebar-menu-link:hover {
  background-color: #fffbe6;
}

.sidebar-menu-link.active {
  background-color: #fffbe6;
  border-right: 3px solid #faad14;
}

.button {
  padding: 13px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  background-color: #faad14;
  color: #fff;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.button-outline {
  background: #ffffff;
  border: 1px solid #ffc53d;
  border-radius: 4px;
  color: #ffc53d;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}

.icon-video {
  width: 14px;
  height: 11px;
  fill: #ffc53d;
  margin-right: 5px;
}

.icon-photo {
  width: 14px;
  height: 11px;
  fill: #ffc53d;
  margin-right: 5px;
}

.button-new-post {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  color: #fff;
}

.icon-fire {
  width: 11px;
  height: 14px;
  margin-right: 10px;
  fill: #fff;
}

.card {
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
}

.card-header {
  padding: 23px 25px;
  background-color: #fafafa;
  border-bottom: 1px solid #e8e8e8;
}

.card-title {
  margin: 0;
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}

.card-body {
  padding: 22px 40px 20px 25px;
}

.card-body-title {
  margin: 0 0 10px;
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #d48806;
}

.card-text {
  margin: 10px 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}

.promo {
  display: block;
  position: relative;
  width: 100%;
  height: 261px;
  margin-top: 20px;
  border: 1px solid #e8e8e8;
  background: #fff url("../img/promo_1.jpg") no-repeat center center / cover;
}

.promo::before {
  content: "Реклама";
  position: absolute;
  right: 0;
  top: 0;
  padding-left: 26px;
  padding-right: 26px;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background: #c4c4c4;
}

.add-post {
  display: flex;
  flex-direction: column;
}

.add-title {
  padding: 23px 30px;
  margin-bottom: 16px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
}

.add-text {
  min-height: 362px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  padding: 23px 30px;
  margin-bottom: 16px;
}

.add-button {
  width: 100%;
  max-width: 370px;
  margin-right: 2%;
}

.add-post .button-outline {
  margin-right: 1%;
}

@media (max-width: 990px) {
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-left: 12px;
  }

  .menu-toggle span {
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .content {
    margin-top: 94px;
    margin-bottom: 60px;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
  }

  .sidebar {
    position: fixed;
    top: 64px;
    right: 0;
    bottom: 0;
    height: calc(100% - 64px);
    max-width: 320px;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    overflow-y: auto;
    z-index: 11;
  }

  .sidebar.visible {
    transform: translateX(0);
  }

  .posts {
    width: 100%;
  }

  .header-nav {
    display: none;
  }

  .header-menu {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 676px) {
  .add-buttons {
    display: flex;
    flex-direction: column;
  }

  .add-button {
    max-width: 100%;
  }

  .add-post .button-outline {
    margin-right: 0;
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .post-footer {
    flex-direction: column;
  }

  .post-author {
    margin-top: 15px;
  }

  .author-avatar {
    margin-left: 0;
    margin-right: 10px;
  }

  .author-about {
    order: 2;
    text-align: left;
  }
}
